.main {
    display: flex;
    justify-content: center;
}
.display{
    border: 2px;
    margin-bottom: 30px;
}
.display .text {
    padding: 5px;
    font-size: xx-large;
    text-align: right;
    border-style: solid;
    border-color: #778486;
    border-width: 5px;
}
.calc {
    background-color: gray;
    height: 400px;
    width: 300px;
    text-align: center;
}

.calc .display {
    background-color: #e0e0e0;
    padding: 10px;
    height: 50px;
}


.buttons button {
    width: 70px;
    height: 70px;
}

.oper button {
    margin-top: 10px;
    width: 40px;
    height: 30px;
}

#eq {
    width: 60px;
    height: 30px;
}
